/*
Always add mixins first so styles can be overridden as needed. For instance:
top-bar-inner has a +maxWidth mixin applied, which has a default padding of 0 15px, but
here additional padding-top specific to the element is also added aftwerward.
*/

body
  :background = !body
//basic layout elements
#wrapper
  :width 100%
  #top-bar
    :background = !topBar
    :border-bottom = "1px solid" !topBar - #333
    :height 75px
    :margin-bottom 30px
    &.tabs
      :height 105px
    #top-bar-inner
      +maxWidth
      +topBarType
      :padding 10px 20px 0
      //IE6 hack (top padding not being respected)
      :*margin-top 8px
      :width 940px
      #logo
        +logoType
        :float left
        :width 260px
      .tagline
        :float left
        :padding-top 23px
        :width 200px
      #nav
        :float right
        :padding-top 20px
        a
          :margin 0 10px
      //tabbed nav for an admin like area
      #tabs
        +roundedTop
        :background = !tabs
        :height 30px
        :margin-top 66px
        ul
          :list-style none
          :margin 0
        li
          :float left
          :display inline
          :margin-top 3px
          a
            :color = !tabLink
            :display block
        #primary-nav
          +primaryNavType
          ul li
            +roundedTop
            :cursor pointer
            :padding 4px 25px 11px
            &.active
              :background = !body
              :border-bottom = "1px solid" !body
              a
                :color = !tabs
        #secondary-nav
          +secondaryNavType
          :float right
          :margin 5px 10px
          ul li
            :float left
            :padding 0 10px
        
  #content
    +clearfix
    +maxWidth
    .tagline
      +contentTaglineType
      :border-bottom = "1px solid" !border
      :border-top = "1px solid " !border
      :margin-bottom 25px
      :padding 15px 0 5px
      :text-align center
    #sidebar
      :float left
      :width 300px
      :margin 0 10px
    #main
      :float left
      :width 620px
      :margin 0 10px
    .block
      :margin-bottom 2.5em
  #footer
    :background = !topBar
    :border-top = "1px solid" !topBar - #333
    :margin-top 2.5em
    :padding 2em 0 3em
    :text-align center
    p
      :color = !light
    a
      :margin 0 0.6em
  
//content elements
.box
  +borderThin
  //:background = !contentBox
  :margin 0 0 2.25em
  :padding 0.2em 0.8em 1.25em
  
.actions
  :border-top = "1px solid" !border
  :padding-top 1.4em

//paginate classes based on default output of mislav's will_paginate plugin
.paginate
  :float right
  a
    +borderThin
    :margin 0 0.4em
    :padding 0.08em 0.04em 0.08em 0.35em
    :text-decoration none
    &:hover
      :background = !link
      :border-color = !link
      :color #fff
  .next_page
    :background none
    :border 0
  .current
    :color = !contentBox
    :background = !link
    :padding 0.08em 0.04em 0.08em 0.35em
    :margin 0 0.35em
  .disabled
    :border none
    :color #888