#flashMessage
  /*set position to "fixed" if you want the message to follow scroll, 
  or "relative" if you prefer to have it inline.*/
  :position absolute
  :top 0
  :right 0
  :z-index 10
  :padding 25px 5px
  :text-align center
  :width 100%
  :overflow none
  &.success
    :background = !action + #999
    :border-color = !action - #444
  &.alert
    :background #fbf7b1
    :border-bottom 2px solid #fbec70
  &.error
    :background = !error
    :border-color #ee1111

//todo: figure out what's up with having to hack the font-sizes
.errorMessage
  :color = !errorText
  :display none
  :font-size 0.815em
  
.fieldWithErrors
  :background = "url('/images/icons/exclamation.png') no-repeat 1%" !error
  :line-height 1.6
  :padding 5px
  :font-size 0.815em
  label
    :padding-left 20px

.checkbox, .radio
  :float left
  .fieldWithErrors
    :background-position 14%
    :padding-left 20px
    :overflow hidden
      
.label
  .fieldWithErrors
    :font-size 1.228em
    label 
      :padding 2px 0px
  .errorMessage
    :font-size 1em
      
.select
  .fieldWithErrors
    :padding-left 25px
  .errorMessage
    :font-size 1em
    
.file
  .fieldWithErrors
    :background-position 1% 42%
    :padding-left 25px

#errorExplanation 
  :width 97%
  :border 2px solid #ee1111
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #F5D1C4
  h2 
    :text-align left
    +typeSans
    :font-weight bold
    :padding 10px 5px 10px 15px
    :font-size 12px
    :margin -7px
    :background-color #ee1111
    :color #fff
  p 
    :padding 12px 10px 0
  ul
    :padding-left 10px

