.fieldWithErrors
  label
    :color #ee1111
  input
    :background url("/images/icons/exclamation.png") no-repeat 99%
    :border 1px solid #ee1111
    :padding-right 5px
  textarea
    :background url("/images/icons/exclamation.png") no-repeat 99% 10%
    :border 1px solid #ee1111
  .file
    :border 0
    :color #ff0000

//todo: figure out radio/checkbox float problem for errors    

#errorExplanation 
  :width 97%
  :border 2px solid #ee1111
  :padding 7px
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2 
    :text-align left
    +typeSans
    :font-weight bold
    :padding 10px 5px 10px 15px
    :font-size 12px
    :margin -7px
    :background-color #ee1111
    :color #fff
  p 
    :padding 12px 10px 0
  ul
    :padding-left 10px

