!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title FancyPants
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css", :media=>"screen"}
  %body
    #wrapper
      #top-bar
        #top-bar-inner
          #logo
            FancyPants
          .tagline
            is a theme.
          #nav
            %a{:href=>"/"} Home
            %a{:href=>"/"} About
            %a{:href=>"/"} Contact
      #content
        %form
          %fieldset
            %p
              %label
                User Name:
              %input{:type=>"text"}
            %p
              %label  
                Passowrd:
              %input{:type=>"password"}
            %p
              %label  
                I agree
              %input.checkbox{:type=>"checkbox"}
            %p
              %label  
                This one
              %input.radio{:type=>"radio", :name=>"radio_name"}
            %p
              %label  
                This one
              %input.radio{:type=>"radio", :name=>"radio_name"}
            %p
              %input.file{:type=>"file"}
          %p
            %input.submit{:type=>"submit"}
            %input.reset{:type=>"reset"}
        %table{:summary=>"This is an example of what a table would look like in FancyPants, which is borrowed from the HTML4 Spec.", :title=>"Cups of Coffee consumed by each senator"}
          %caption Cups of coffee consumed by each senator
          %tr
            %th Name
            %th Cups
            %th Type of Coffee
            %th Sugar?
          %tr
            %td T. Sexton
            %td 10
            %td Espresso
            %td No
          %tr
            %td J. Dinnen
            %td 5
            %td Decaf
            %td Yes
        %a{:href=>"#", :title=>"This is a link to nowhere"}
          Link
          
            
        