!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title FancyPants
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css", :media=>"screen"}
  %body
    #wrapper
      #top-bar
        #top-bar-inner
          #logo
            FancyPants
          .tagline
            is a theme.
          #nav
            %a{:href=>"/"} Home
            %a{:href=>"#"} About
            %a{:href=>"#"} Contact
      #content
        .tagline
          %h1 Hello there, my friend.
          %br
          %h2 Welcome to FancyPants
          %p 
            A RoR theme in Sass by 
            %a{:href=>"#"} robertjwhitney
        #left
          .block
            %img{:src=>"/images/deep-sea-diver.jpg"}
        #right
          .block
            %h1 
              All your styles are belonging to 
              %span.italic
                you.
            %p
              FancyPants is a web app theme written in Sass, geared towards Ruby on Rails apps.  Unlike other excellent web app themes, this is a front-end theme whose goal, like Rails, is convention over configuration.  
            %p
              While it's fully customizable, it's not really intended as a framework, it's just a starting point that can help your prototypes look pretty. FancyPants wants to add value to your workflow, by letting you get some simple things out of the way quickly.  It doesn't aim to solve all the problems you'll face, but it can give you more time to concentrate on them.
            %p
              FancyPants is probably best suited for:
            %ul
              %li
                %a{:href=>"http://rubyonrails.org/"}
                  Ruby on Rails
                and other
                %a{:href=>"http://www.ruby-lang.org/"}
                  Ruby 
                Framework Developers
              %li
                Those familiar with 
                %a{:href=>"http://haml-lang.com/"}
                  Haml/Sass
              %li
                Deep Sea Divers
              %li
                Yours truly
            %p
              If you're new to CSS or Sass, or just don't have much experience with either, and are planning to use FancyPants to get you off the ground, I suggest you take the time to 
              %a{:href=>"http://www.w3schools.com/CSS/"}
                learn how 
              to do it right before you get caught up in out of the box "solutions".  If you don't know what you're doing, themes and frameworks will only slow you down. 
            %p
              FancyPants is new, un-tested, and a learning experience for me also, so use it at your own risk,
          .block
            %h1
              What it's all about
            %p
              FancyPants is a new
              %span.italic
                theme
              with a few modest goals. Aside from compatibility, and accessibility, the main goals of FancyPants are:
              %ul
                %li
                  Ease
                %li
                  Simplicity
                %li
                  Repeatability
                %li
                  Speed
            %p
              The intention is to get you started quickly, and then get out of your way when you need it to.
      #footer
        