!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title FancyPants
    %link{:title=>"Home", :type=>"text/html", :rel=>"Home", :href=>"/"}
    %link{:title=>"About", :type=>"text/html", :rel=>"About", :href=>"/about"}
    %link{:title=>"Contact", :type=>"text/html", :rel=>"Contact", :href=>"/contact"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css", :media=>"screen"}
  %body
    #wrapper
      #top-bar
        #top-bar-inner
          %a{:href=>"/"}
            #logo
              FancyPants
          .tagline
            is a theme.
          #nav
            %a{:href=>"/"} Home
            %a{:href=>"/basics"} Basics
            %a{:href=>"/contact"} Contact
      #content
        .tagline
          %h1 Hello there, my friend.
          %br
          %h2 Welcome to FancyPants
          %p 
            A RoR theme in Sass by 
            %a{:href=>"#"} robertjwhitney
        #left
          .block
            %img{:src=>"/images/deep-sea-diver.jpg"}
        #right
          .block
            %h1 
              All your styles are belonging to 
              %span.italic
                you.
            %p
              FancyPants is a web app theme written in Sass, geared towards Ruby on Rails apps.
            %p
              FancyPants is probably best suited for:
            %ul
              %li
                %a{:href=>"http://rubyonrails.org/"}
                  Ruby on Rails
                and other
                %a{:href=>"http://www.ruby-lang.org/"}
                  Ruby 
                Framework Developers
              %li
                Those familiar with 
                %a{:href=>"http://haml-lang.com/"}
                  Haml/Sass
              %li
                Deep Sea Divers
              %li
                Yours truly
            %p
              FancyPants is new, un-tested, and a learning experience for me also, so use it at your own risk.
          .block
            %h1
              What it's all about
            %p
              FancyPants is a new
              %span.italic
                theme
              with a few modest goals:
              %ul
                %li
                  Compatibility
                %li
                  Accessibility
                %li
                  Simplicity
                %li
                  Repeatability
          .block
            %h1
              Why Sass?
            %p
              There are still those reluctant to pick up simple mark up languages like Haml and Sass, but that's just silly.  You could master both in a mere couple of hours, and the amount of time, keystrokes, and confused eyeballs they will save you is immeasurable.
            %p
              I strongly suggest you take a look at what these two languages have to offer, and consider giving up a few hours really getting them down.  Your fingers will thank you.
            %p 
              %a{:href=>"http://haml-lang.com/"}
                http://haml-lang.com/
            %p
              %a{:href=>"http://sass-lang.com/"}
                http://sass-lang.com/
      #footer
        