=typeSerif
  :font-family "Georgia", "Times New Roman", serif
  
=typeSans
  :font-family "Verdana", sans-serif

//set a base font size
!baseFontSize = 0.815em

body
  +typeSans
  :font-size = !baseFontSize
  :line-height 20px
    
h1
  +typeSerif
  :color = !h1
  :font-size = !baseFontSize * 2.5
  :letter-spacing 1px
  
h2
  +typeSerif
  :color = !h2
  :font-size = !baseFontSize * 2
  :text-transform uppercase
  :letter-spacing 3px
  
h3
  :color = !h3
  :font-size = !baseFontSize * 1.5

a
  :color = !link
  :text-decoration none
  &:hover
    :text-decoration underline

p, table, .paginate
  :color = !text
  
p, dl, hr, h1, h2, h3 ol, ul, pre, table, address, fieldset
  :margin-bottom 20px
  
th
  :font-size = !baseFontSize * 1.5
  :font-weight bold
    
ul
  :list-style-type circle
  :margin 0 0 30px 15px
  li
    :margin 10px 0

.bold
  :font-weight bold

.italic
  :font-style italic
  
.underline
  :text-decoration underline
  
=logoType
  +typeSerif
  :color = !logo
  :font-size = !baseFontSize * 4.5
  
=topBarType
  .tagline
    :color = !lighter - #222
    :font-size = !baseFontSize
  #nav
    :font-size = !baseFontSize * 1.75
    
=primaryNavType
  :font-size = !baseFontSize * 1.5

=secondaryNavType
  :font-size = !baseFontSize * 1.25

=contentTaglineType 
  h1
    :font-size = !baseFontSize * 4.5
    :margin 0